<div class="row">
    <div class="col-md-3 pull-left" >
        <div class="list-group">
            <a href="/admin/adminDashboard" class="list-group-item ">
                View orders
            </a>
            <a href="/admin/addFood" class="list-group-item ">Add Food items</a>
            <a href="/admin/setAvailableFood" class="list-group-item active">Set today available food</a>
            <a href="/admin/myOrders" class="list-group-item ">My orders</a>

        </div>
    </div>
    <div class="col-md-8">
        <div class="page-header">
            <h1>Set Today Menu</h1>
        </div>

    </div>
</div>