<style>
    h1, h3, label, p{
        color: white;
    }

    #priceTag{
        color: white;
        background-color: orangered;
        border: 1px solid white;
        padding: 5px; width: 50%;
        border-radius: 5px;
    }

    #priceTag:hover{
        color: orangered;
        background-color: white;
        border: 1px solid orangered;
        cursor: default;
    }

    #table_image{
        max-height: 170px;
    }

</style>

<div class="row">
    <div class="col-md-3 pull-left" >
        <div class="list-group">
            <a href="/user/profile" class="list-group-item ">
                My orders</a>
            <a href="/user/myReservations" class="list-group-item  ">
                My Reservations</a>
            <a href="/user/reserveTable" class="list-group-item active">
                Reserve Table</a>
            <a href="/user/updateProfile" class="list-group-item ">
                Update Profile</a>
        </div>
    </div>

    <div class="col-md-8">
        <h1>Reserve Tables</h1>
        <hr>

        {{#if reserveSuccess}}
            <div class="alert alert-success">
                <strong>{{reserveSuccess}}</strong>
            </div>
        {{/if}}

        <form action="/user/reserve" method="post">
            <div class="row">
                <h3>Step 1</h3>
                <br>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="capacity">Select capacity:</label>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="capacity">

                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <h3>Step 2</h3>
                <br>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="capacity">Select table:</label>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="tableData" name="tableData">

                            </select>
                        </div>
                        <div class="col-md-3">
                            <strong><p id="priceTag"></p></strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img id="table_image" style="display: none" class="img-thumbnail img-responsive">
                </div>

            </div>

            <div class="row">
                <h3>Step 3</h3>
                <br>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="capacity">Select Date:</label>
                        </div>
                        <div class="col-md-3">
                            <input type="date" name="date" id="date" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <h3>Step 4</h3>
                <br>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="capacity">Select time:</label>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="slots" name="slots">

                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <br>
                <div class="col-sm-offset-4 col-sm-10">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <button type="submit" class="btn btn-primary">Reserve</button>
                </div>
        </form>


    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $.get('/user/loadCapacity', function (data) {
            $.each(data, function (index, cap) {
                $('#capacity').append('<option value="'+cap+'">'+cap+'</option>')
            });

            $.get('/user/loadTable/'+$('#capacity').val(), function (data) {
                $('#tableData').empty();
                $.each(data, function (index, cap) {
                    $('#tableData').append('<option value="'+cap.table_no+'">'+cap.table_no+'</option>')
                });

                $.get('/user/loadPrice/'+$('#tableData').val(), function (data) {
                    $('#priceTag').text('Price:'+data[0].price);
                });

                $.get('/user//loadTableImage/'+$('#tableData').val(), function (data) {
                    $('#table_image').attr('src', data).slideToggle('slow');
                });

                $.get('/user/loadTimeSolts/'+$('#tableData').val()+'/'+$('#date').val(), function (data) {
                    $('#slots').empty();
                    alert('test');
                    $.each(data, function (index, cap) {
                        $('#slots').append('<option value="'+cap+'">'+cap+'</option>')
                    });
                });

            });

        });

        $('#capacity').on('change', function () {
            $.get('/user/loadTable/'+$('#capacity').val(), function (data) {
                $('#tableData').empty();
                $.each(data, function (index, cap) {
                    $('#tableData').append('<option value="'+cap.table_no+'">'+cap.table_no+'</option>')
                });

                $.get('/user/loadPrice/'+$('#tableData').val(), function (data) {
                    $('#priceTag').text('Price:'+data[0].price);
                });

                $.get('/user//loadTableImage/'+$('#tableData').val(), function (data) {
                    $('#table_image').attr('src', data).css('display', 'none').slideToggle('slow');
                });

                $.get('/user/loadTimeSolts/'+$('#tableData').val()+'/'+$('#date').val(), function (data) {
                    $('#slots').empty();
                    $.each(data, function (index, cap) {
                        $('#slots').append('<option value="'+cap+'">'+cap+'</option>')
                    });
                });

            });
        });

        $('#tableData').on('change', function () {
            $.get('/user/loadPrice/'+$('#tableData').val(), function (data) {
                $('#priceTag').text('Price:'+data[0].price);
            });

            $.get('/user//loadTableImage/'+$(this).val(), function (data) {
               $('#table_image').attr('src', data).css('display', 'none').slideToggle('slow');
            });

            $.get('/user/loadTimeSolts/'+$('#tableData').val()+'/'+$('#date').val(), function (data) {
                $('#slots').empty();
                $.each(data, function (index, cap) {
                    $('#slots').append('<option value="'+cap+'">'+cap+'</option>')
                });
            });

        });


        $('#date').on('change', function () {
            $.get('/user/loadTimeSolts/'+$('#tableData').val()+'/'+$('#date').val(), function (data) {
                $('#slots').empty();
                $.each(data, function (index, cap) {
                    $('#slots').append('<option value="'+cap+'">'+cap+'</option>')
                });
            });
        });



    });
</script>