<style>
    body{
        background: url(/images/burger-bg.jpg) no-repeat center fixed;
        background-size: cover;
    }
</style>

<div class="container">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/">Packages</a></li>
        <li role="presentation" class="active"><a href="/burgers">Burgers</a></li>
        <li role="presentation"><a href="/snacks">Snacks</a></li>
        <li role="presentation"><a href="/desserts">Desserts</a></li>
        <li role="presentation"><a href="/beverages">Beverages</a></li>
    </ul>
</div>
<br>

{{#each burgers }}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail my-thumbnail">
                    <img src="{{this.image_path}}" class="image-responsive" alt="...">
                    <div class="caption">
                        <h3>{{this.name}}</h3>
                        <div class="clearfix">
                            <div class="price pull-left">Rs.{{this.price}}/=</div>
                            <a id="{{this.id}}" class="btn btn-success pull-right" role="button">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>

{{/each}}

<script>
    $(document).ready(function(){
        $("a[role='button']").click(function(){
            $.get("/add-to-cart/"+this.id+"/burger", function(data){
                $("#shoping_cart").text(data.qty);
            });
        });
    });
</script>
